images_breed
images_small
sounds
random_search
cnn/sounds_dogs_img
images_ages
images_ages_cropped
sounds_dogs
sounds_dogs_img
keras_env
new_python_env
cnn_model
cnn_model_ages
cnn_model_sound_dogs
rando_forest.joblib
properties.py
__pycache__
dog_sounds
Dog_age