<!DOCTYPE html>
<html>
<head>
    <title>Dog Breed Recognition</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <main>
        <a href="/help.html" class="help-button">?</a>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Dog Breed Recognition Logo" class="logo">
        <h1>Welcome to Anima.AI</h1>
        <p id="intro_text">This is a mega dog predictor. This AI knows everything about your dog. You can predict the breed of your dog or predict your dog's emotion/situation from its barking.</p>
        <h2>Explore and enjoy!</h2>
        <div class="centered_container">
            <a href="/dog_breed.html"><button class="single_button">Predict the breed and the age</button></a>
            <a href="/dog_sound.html"><button class="single_button">Analyze the sound of a dog</button></a>
        </div>
    </main>
</body>
</html>
