<!DOCTYPE html>
<html>
<head>
    <title>Dog Breed Recognition</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <main>
        <a href="/help.html" class="help-button">?</a>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Dog Breed Recognition Logo" class="logo">
        <h1>Welcome to Anima.AI</h1>
        <h2>Choose!</h2>
        <div class="button_container">
            <a href="/dog_breed.html"><button class="single_button">Predict the breed</button></a>
            <a href="/dog_sound.html"><button class="single_button">Analyse the sound of a dog</button></a>
        </div>
    </main>
</body>
</html>
